body {
  font-family: sans-serif;
  line-height:1.6em;
  padding:0.5em 1em;
  font-size:90%;
  color:#333;
  background: #fff;
}
h1, h2, h3 {
  font-weight:bold;
}
a {
  color:rebeccapurple;
}


/* stage-full-window */
body.stage-full-window { margin: 0; padding: 0; overflow: hidden; }
body.stage-full-window canvas { width: 100% !important; height: 100% !important;; position:fixed; }

/* stage-fixed-size */
body.stage-fixed-size canvas {  max-width:100% }

body.stage-full-screen canvas {
  position:fixed; top:0; right:0; bottom:0; left:0; margin:0;
  box-sizing:border-box; width:100%; height:100%; object-fit:contain;
}
