body {
  font-family: sans-serif;
  line-height:1.6em;
  padding:0.5em 1em;
  font-size:90%;
  color:#333;
  background: #fff;
}
h1, h2, h3 {
  font-weight:bold;
}
a {
  color:dodgerblue;
  text-decoration: none;
}

/*canvas {*/
  /*max-width:100%;*/
/*}*/